@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1 {
    font-family: Quantico, sans-serif;
}

#btn-gen-5 {
    display: none;
}

@media only screen and (min-width:320px) {
    .container {
        display: flex;
        align-items:center;
        justify-content: center;
        flex-direction:column;
    }

    html, body, .container {
        height: 100%;
        margin: 0;
    }

    h1 {
        font-size: 1.2rem;
        background-color: #174287;
        color: #f5f5f5;
        padding: .8rem;
        margin: 0;
        text-align: center;
    }

    #output {
        text-align: center;
    }
} 

@media only screen and (min-width:768px) {
    h1 {
        font-size: 3rem;
        background-color: #23d160;
    }
    
    #btn-gen-1 {
        width: 300px;
        height: 75pt;
        font-size: 1.5rem;
    }

    body {
        color: darkgray;
        font-size: 2rem;
    }
} 

@media only screen and (min-width:1024px) {
    body {
        font-size: 1rem;
        text-align: left;
    }

    h1 {
        background-color: #ff3860;
    }
    
    .container {
        display: block;
        margin: 1rem;
    }

    #output {
        text-align:left;
    }
} 

@media only screen and (min-width:1408px) {
    body {
        font-size: 2rem;
    }
    
    h1 {
        font-size: 5rem;
        background-color: #9423d1;
    }

    #btn-gen-1 {
        width: 450px;
        font-size: 2rem;
    }
}